@import '../../mixins';

.header {
  display: block;
  position: fixed;
  top: 0;
  height: 95px;
  width: 100%;
  background: #FFF;
  margin: 0 5%;

  @include sm {
    height: 70px;
  }

  a {
    color: #542d69;

    img {
      display: inline-block;
      height: 50px;
      width: 50px;
      padding: 22.5px 0;
      float: left;

      @include sm {
        width: 25px;
        height: 25px;
      }
    }

    h1 {
      display: inline-block;
      font-size: 24px;
      line-height: 95px;
      margin: 0;

      @include sm {
        font-size: 12px;
        line-height: 70px;
      }
    }
  }
}
