@import '../../mixins';

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 5%;

  @include sm {
    display: none;
  }

  p {
    font-size: 11px;

    svg {
      margin-right: 5px;
    }
  }
}
