@import '../../mixins';

.button {
  margin: 20px 0;
  background: #542d69;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;

  @include sm {
    padding: 15px;
    font-size: 1rem;
  }
}

.button:hover {
  cursor: pointer;
  background: #68E0BB;
  color: #000000;
}

.button:active, .button:focus {
  outline: none;
}
